<div class="header">
  <div class="title-container">
    <h1 class="title">Nova Admissão cooperado</h1>
    <h5 class="breadcrumbs">
      cadastro / admissão do cooperado / nova admissão de cooperado
    </h5>
  </div>
  <div class="profile-container">
    <div class="notify">
      <ion-icon class="icon" name="notifications-outline"></ion-icon>
      <div class="alert">
        <small>7</small>
      </div>
    </div>
    <div class="via-credi">viacredi</div>
    <div class="profile">
      <img class="image" src="../../../assets/images/user2-160x160.jpg" />
      <ion-icon class="icon-settings" name="settings"></ion-icon>
    </div>
  </div>
</div>
