<div class="container">
  <app-stepper></app-stepper>
  <form>
    <h1 class="title">Informe o CPF do futuro cooperado(a)</h1>
    <p class="subtitle">
      Se necessário, você poderá duplicar uma conta existente ou pausar e
      retomar este cadastro futuramente. <br />
      Digite apenas os números (sem pontos ou traços)
    </p>

    <div class="container-field">
      <h4 class="label">CPF</h4>
      <form class="form" [formGroup]="form">
        <div class="form-control">
          <input [ngClass]="
              (((isCpfNull() || isCpfInValid()) &&
                !form.get('cpf')?.pristine) ||
                error) &&
              'invalid'
            " name="cpf" formControlName="cpf" placeholder="000.000.000-00" maxlength="14" required
            (focus)="error = undefined" (input)="error = undefined; maskCpf(form.get('cpf')?.value)" />
          <p *ngIf="
              (isCpfNull() && !form.get('cpf')?.pristine) ||
              error == 'required'
            " class="error">
            o campo CPF é obrigatório
          </p>
          <p *ngIf="isCpfInValid() && !form.get('cpf')?.pristine" class="error">
            Informe um CPF válido
          </p>
          <p *ngIf="error == 'notfound'" class="error">
            Não existe usuário cadastrado com esse CPF!
          </p>
          <p *ngIf="error == 'error'" class="error">
            Houve algum erro ao consultar!
          </p>
        </div>
        <button class="form-submit" (click)="onSubmit(form.get('cpf')?.value)">
          <ion-icon *ngIf="loading" class="loading" name="refresh" title="Carregando..."></ion-icon>
          <span *ngIf="!loading">Consultar por CPF</span>
        </button>
      </form>
    </div>
  </form>
  <div *ngIf="person" class="data">
    <div class="data-header">
      <h2 class="title">Situação cadastral do CPF</h2>
      <h3 class="subtitle">Consulta na receita federal</h3>
    </div>
    <div class="data-person">
      <ion-icon name="person" class="person"></ion-icon>
      <div class="content">
        <h6 class="label">Nome</h6>
        <p class="text">{{ person.name }}</p>
      </div>
    </div>
    <div class="data-person">
      <ion-icon *ngIf="person.status == 'irregular'" name="close" class="unchecked"></ion-icon>
      <ion-icon *ngIf="person.status == 'regular'" name="checkmark-circle-outline" class="checked"></ion-icon>
      <div class="content">
        <h6 class="label">Situação do CPF</h6>
        <p class="text">{{ person.status }}</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <button class="button btn-primary">Iníciar nova admissão</button>
  <button class="button">Dicas para abertura de conta</button>
</div>
